<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1> Witaj w świecie alkoholi</h1>


<!--
Odpowiednikiem Scannera w html jest formularz i znacznik form
label odpowiednik puts
name = nazwa zmiennej w Java
float quantity;
br - odpowiednik println - docelowo nie stosować

-->

<form action="/result">
    <label>Podaj ilość alkoholu w litrach</label>
    <input type="number" value="0.5" step="0.1"
           name="quantity">
    <br>
    <label>Podaj wagę w kilogramach</label>
    <input type="number" value="70" step="1"
           name="weight">
    <br>
    <label>Wybierz alkohol</label>
    <select name="alcohol">
        <option value="BEER">Piwo</option>
        <option value="VODKA">Wódka</option>
        <option value="WINE">Wino</option>
        <option value="HOOCH">Bimber</option>
    </select>
    <br>
    <input type="submit" value="oblicz alkohol">



</form>



</body>
</html>